Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

:packer: :windows: (base):
  id: packer-base-windows-amd64
  name: ':packer: :windows: (base)'
  command: .buildkite/steps/packer.sh windows amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: true
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :linux: AMD64 (base):
  id: packer-base-linux-amd64
  name: ':packer: :linux: AMD64 (base)'
  command: .buildkite/steps/packer.sh linux amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: true
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :linux: ARM64 (base):
  id: packer-base-linux-arm64
  name: ':packer: :linux: ARM64 (base)'
  command: .buildkite/steps/packer.sh linux arm64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: true
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

Fix linter error
  packer/linux/stack/conf/bin/bk-mount-instance-storage.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Dynamic S3 region detection
  templates/aws-stack.yml
Due: none

Cleanup params
  templates/aws-stack.yml
Due: none

Add error handling in bootstrap for metadata svc failures
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Address failures in cloud-init when metadata svc not available
  packer/linux/stack/conf/buildkite-agent/systemd/cloud-init.service.d/10-power-off-on-failure.conf
  packer/linux/stack/scripts/install-buildkite-agent.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Add support for arm64 buildkite-agent-scaler
  templates/aws-stack.yml
Due: none

Fix ARN mapping
  templates/aws-stack.yml
Due: none

Go back to FindInMap
  templates/aws-stack.yml
Due: none

Simplify mapping to make ApplicaitonId work
  templates/aws-stack.yml
Due: none

Use private Serverless Application for validation (to be reverted!)
  templates/aws-stack.yml
Due: none

Consolidate parameters
  templates/aws-stack.yml
Due: none

Cleanup IsLambdaArchitectureX8664
  templates/aws-stack.yml
Due: none

Duct tape conditional to expose arch as a single parameter
  templates/aws-stack.yml
Due: none

No anchors for you
  templates/aws-stack.yml
Due: none

Separate version for arm64
  templates/aws-stack.yml
Due: none

arm64 fix
  templates/aws-stack.yml
Due: none

Fix arm64?
  templates/aws-stack.yml
Due: none

Bump SAR version
  templates/aws-stack.yml
Due: none

Fix EC2 launch?
  .buildkite/steps/launch.sh
Due: none

Map architectures in launch
  .buildkite/steps/launch.sh
Due: none

Fix arch...
  templates/aws-stack.yml
Due: none

Adding new agent meta-data
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  templates/aws-stack.yml
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Adding note referencing Terraform Module
  README.md
Due: none

Update changelog for v6.44.0 release
  CHANGELOG.md
Due: none

Adding Agent changes
  CHANGELOG.md
Due: none

`stack_deployed_by` > `stack-deployed-by`
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  templates/aws-stack.yml
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Bumping AWS CLI version to `2.31.26`
  packer/linux/base/scripts/install-utils.sh
  packer/windows/base/scripts/install-utils.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

chore: remove unused workflow file
  .github/workflows/linear_issue_open.yml
Due: none

Fix Renovate custom manager for buildkite-agent
  renovate.json
Due: none

chore: remove notes from Renovate's PR
  renovate.json
Due: none

Update changelog for v6.46.0 release
  CHANGELOG.md
Due: none

Add agent changelog
  CHANGELOG.md
Due: none

fix(aws-stack): add BuildkiteTerminateInstanceOnDiskFull to ParameterGroups and Windows env
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  templates/aws-stack.yml
Due: :packer: :windows: (base)

Add missing params to ParameterGroups
  templates/aws-stack.yml
Due: none

Add new param for S3 secrets plugin
  packer/linux/stack/conf/buildkite-agent/hooks/environment
  packer/windows/stack/conf/buildkite-agent/hooks/environment
  templates/aws-stack.yml
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

[skip ci] Adding centralized version scripts
  packer/linux/shared/scripts/versions.sh
  packer/windows/shared/scripts/versions.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

[skip ci] Updating Linux tool version references
  packer/linux/base/scripts/install-docker.sh
  packer/linux/base/scripts/install-session-manager-plugin.sh
  packer/linux/base/scripts/install-utils.sh
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/linux/stack/scripts/install-buildkite-utils.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Updating Windows version references
  packer/windows/base/scripts/install-docker.ps1
  packer/windows/base/scripts/install-lifecycled.ps1
  packer/windows/base/scripts/install-session-manager-plugin.ps1
  packer/windows/base/scripts/install-utils.ps1
  packer/windows/stack/scripts/install-buildkite-agent.ps1
  packer/windows/stack/scripts/install-s3secrets-helper.ps1
Due: :packer: :windows: (base)

Update install-utils.sh
  packer/linux/base/scripts/install-utils.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Path conditions:
  :packer: :windows: (base): any of: packer/windows/**
  :packer: :linux: AMD64 (base): any of: packer/linux/**
  :packer: :linux: ARM64 (base): any of: packer/linux/**
