Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Path conditions:
  :packer: :windows: (base): any of: packer/windows/**
  :packer: :linux: AMD64 (base): any of: packer/linux/**
  :packer: :linux: ARM64 (base): any of: packer/linux/**

Clarify meaning of tally table
  .buildkite/steps/clean-old-amis
Due: none

Update changelog for the upcoming release
  .buildkite/scripts/generate-changelog.sh
  CHANGELOG.md
Due: none

Handle missing Docker config in disk space check
  packer/linux/stack/conf/bin/bk-check-disk-space.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Simplification
  packer/linux/stack/conf/buildkite-agent/hooks/environment
  packer/linux/stack/conf/buildkite-agent/hooks/pre-exit
  templates/aws-stack.yml
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

CMD+Z Windows
  packer/windows/stack/conf/buildkite-agent/hooks/environment
  packer/windows/stack/conf/buildkite-agent/hooks/pre-exit
  templates/aws-stack.yml
Due: :packer: :windows: (base)

Fix indentation
  packer/linux/stack/conf/buildkite-agent/hooks/environment
  packer/linux/stack/conf/buildkite-agent/hooks/pre-exit
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Update from main, fix lint
  packer/linux/stack/conf/buildkite-agent/hooks/pre-exit
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Rework
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/conf/buildkite-agent/hooks/environment
  packer/linux/stack/conf/buildkite-agent/hooks/pre-exit
  templates/aws-stack.yml
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

More sane var name
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/conf/buildkite-agent/hooks/pre-exit
  templates/aws-stack.yml
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

[skip ci] Removing prune on var from Windows
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :packer: :windows: (base)

Adding DOCKER_PRUNE_UNTIL passthrough to PowerShell
  templates/aws-stack.yml
Due: none

[skip ci] Removing prune from Windows
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :packer: :windows: (base)

Revert "Adding DOCKER_PRUNE_UNTIL passthrough to PowerShell"
  templates/aws-stack.yml
Due: none

Do not rebuild Stack AMI when not needed
  .buildkite/pipeline.yaml
  .buildkite/steps/ensure_ami_metadata.py
Due: none

Add ScalerManagedPolicyARNs parameter for Lambda execution role
  templates/aws-stack.yml
Due: none

Fix Renovate for tooling using versions.{sh,ps1} scripts
  renovate.json
Due: none

Fix versions.ps1 matching in Renovate config
  renovate.json
Due: none

fix: ensure AMI metadata is set for copy step when builds are skipped
  .buildkite/pipeline.yaml
Due: none

Update changelog for upcoming release v6.51.0
  CHANGELOG.md
Due: none

Add notes for v6.50.0
  CHANGELOG.md
Due: none

Remove BuildkiteAgentScalerVersion attribute
  renovate.json
  templates/aws-stack.yml
Due: none

Close <details> tag in 6.39.0 CHANGELOG.md entry
  CHANGELOG.md
Due: none

Renovate: drop v suffix from buildkite-agent-scaler version string
  renovate.json
Due: none

Signal CloudFormation only if deployed by CloudFormation
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Update changelog for upcoming release
  CHANGELOG.md
Due: none

fmt
  CHANGELOG.md
Due: none

Update changelog to v6.53.0
  CHANGELOG.md
Due: none

Install add'l python3.x versions
  packer/linux/base/scripts/install-utils.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Pave road to agent health check
  packer/linux/stack/conf/buildkite-agent/scripts/check-agent-health
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent-health-check.service
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent-health-check.timer
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent.service
  packer/linux/stack/scripts/install-buildkite-agent.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Skip uptime check when triggering health check via OnFailure=
  packer/linux/stack/conf/buildkite-agent/scripts/check-agent-health
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent-health-check-onfailure.service
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent.service
  packer/linux/stack/scripts/install-buildkite-agent.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

check-agent-health: log to a file
  packer/linux/stack/conf/buildkite-agent/scripts/check-agent-health
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Remove OnFailure=, add agent health check handling
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/conf/buildkite-agent/scripts/check-agent-health
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent-health-check-onfailure.service
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent.service
  packer/linux/stack/scripts/install-buildkite-agent.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

check-agent-health: log to stdout and file
  packer/linux/stack/conf/buildkite-agent/scripts/check-agent-health
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Fix pgrep, use logger function to surface logs in journalctl
  packer/linux/stack/conf/buildkite-agent/scripts/check-agent-health
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Clearer health check message
  packer/linux/stack/conf/buildkite-agent/scripts/check-agent-health
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Reduce timers for testing
  packer/linux/stack/conf/buildkite-agent/scripts/check-agent-health
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent-health-check.timer
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

ella i need help
  packer/linux/buildkite-ami.pkr.hcl
  packer/linux/scripts/install-socketcan.sh
  packer/linux/scripts/prepull-docker-images.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Pave road to health check monitor on Windows
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/check-agent-health.ps1
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :packer: :windows: (base)

Add scheduled tasks for check-agent-health.ps1
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :packer: :windows: (base)

Pass BUILDKITE_AGENTS_PER_INSTANCE to the health check scheduled task
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :packer: :windows: (base)
