Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

:aws-iam: :cloudformation::
  id: deploy-service-role-stack
  name: ':aws-iam: :cloudformation:'
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  command: .buildkite/steps/deploy-service-role-stack.sh
  if: build.source != "schedule"
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  - aws-assume-role-with-web-identity#v1.4.0:
  ...

:packer: :windows: (base):
  id: packer-base-windows-amd64
  name: ':packer: :windows: (base)'
  command: .buildkite/steps/packer.sh windows amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: false
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :windows::
  id: packer-windows-amd64
  name: ':packer: :windows:'
  command: .buildkite/steps/packer.sh windows
  timeout_in_minutes: 60
  env:
    AMI_PUBLIC: true
  retry:
    automatic:
      limit: 3
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - packer-base-windows-amd64
  ...

:cloudformation: :windows: AMD64 Launch:
  id: launch-windows-amd64
  name: ':cloudformation: :windows: AMD64 Launch'
  command:
  - .buildkite/steps/ensure_ami_metadata.py windows amd64
  - .buildkite/steps/launch.sh windows amd64
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  artifact_paths: build/aws-stack.yml
  if: build.source != "schedule"
  ...

:cloudformation: :windows: AMD64 Test:
  id: test-windows-amd64
  name: ':cloudformation: :windows: AMD64 Test'
  command:
  - aws --version
  - jq --version
  - git --version
  - docker info
  - docker run --rm mcr.microsoft.com/windows/nanoserver:ltsc2022 cmd.exe /c echo hello
  timeout_in_minutes: 5
  agents:
  ...

:cloudformation: :windows: AMD64 Delete:
  id: delete-windows-amd64
  name: ':cloudformation: :windows: AMD64 Delete'
  command: .buildkite/steps/delete.sh windows amd64
  allow_dependency_failure: true
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - test-windows-amd64
  plugins:
  ...

:packer: :linux: AMD64 (base):
  id: packer-base-linux-amd64
  name: ':packer: :linux: AMD64 (base)'
  command: .buildkite/steps/packer.sh linux amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: false
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :linux: AMD64:
  id: packer-linux-amd64
  name: ':packer: :linux: AMD64'
  command: .buildkite/steps/packer.sh linux
  timeout_in_minutes: 60
  env:
    AMI_PUBLIC: true
  retry:
    automatic:
      limit: 3
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - packer-base-linux-amd64
  ...

Update log messages during disk space checks/cleanup ops
  packer/linux/base/conf/docker/scripts/docker-low-disk-gc
  packer/linux/stack/conf/bin/bk-check-disk-space.sh
  packer/linux/stack/conf/buildkite-agent/hooks/environment
  packer/linux/stack/conf/buildkite-agent/hooks/pre-exit
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add ScalerManagedPolicyARNs parameter for Lambda execution role
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update changelog for upcoming release v6.54.0
  CHANGELOG.md
Due: none

Update notes for v6.53.0
  CHANGELOG.md
Due: none

Fix disk cleanup for multi-agent instances
  packer/linux/stack/conf/bin/bk-check-disk-space.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

update
  packer/linux/buildkite-ami.pkr.hcl
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

big mess
  Makefile
  packer/linux/buildkite-ami.pkr.hcl
  packer/linux/scripts/prepull-docker-images.sh
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update packer/linux/stack/conf/bin/bk-check-disk-space.sh
  packer/linux/stack/conf/bin/bk-check-disk-space.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update scaler version to allow CI pass test
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog for v6.55.0
  CHANGELOG.md
Due: none

Move changelog update to internal
  CHANGELOG.md
Due: none

it all works
  Makefile
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Fix: Add shebang to refresh_authorized_keys script
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Bump agent scaler to v1.11.0
  templates/aws-stack.yml
  templates/service-role.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog entry for the v6.56.0 release
  CHANGELOG.md
Due: none

Give Ben some space
  CHANGELOG.md
Due: none

Fix: add helper to pass down base AMI IDs
  Makefile
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update readme with Linux-only AMI Packer build
  README.md
Due: none

Update changelog for v6.57.0
  CHANGELOG.md
Due: none

Windows: improve NSSM config to let agent stop gracefully
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog entry for v6.58.0
  CHANGELOG.md
Due: none

Bump changelog v6.58.1
  CHANGELOG.md
Due: none

Update Go version to 1.26.1 for fixperms binary
  Makefile
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update changelog with v6.58.2
  CHANGELOG.md
Due: none

Add missing Graviton instance families to UsingArmInstances condition
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add release notes for 6.58.3
  CHANGELOG.md
Due: none

Update changelog with v6.58.4 release
  CHANGELOG.md
Due: none

add python3.14 variants
  packer/linux/base/scripts/install-utils.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog for v6.58.5
  CHANGELOG.md
Due: none

Disable me-south-1 region
  .buildkite/pipeline.cleanamis.yaml
  .buildkite/steps/copy.sh
Due: none

Add RSS for AWS me-south-1 status
  .buildkite/pipeline.cleanamis.yaml
  .buildkite/steps/copy.sh
Due: none

Update changelog with me-south-1
  CHANGELOG.md
Due: none

Add param to explicitly set DeleteOnTermination
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update changelog
  CHANGELOG.md
Due: none

Update changelog with v6.58.6
  CHANGELOG.md
Due: none

fix quoting on keyfile in buildkite windows stack
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update changelog for v6.59.0
  CHANGELOG.md
Due: none

Windows: fix UTF-16 BOM in JWKS file and icacls grant to nonexistent user
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Windows: run JWKS icacls after buildkite-agent user exists
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Path conditions:
  :aws-iam: :cloudformation:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :windows: (base): any of: packer/windows/base/**, packer/windows/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :windows:: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Launch: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Test: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Delete: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :packer: :linux: AMD64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: AMD64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :linux: ARM64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: ARM64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :aws-iam: :cloudformation: Delete: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: ðŸšš ðŸŒŽ: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :rocket:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :broom: Cleanup: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
