Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Path conditions:
  :packer: :windows: (base): any of: packer/windows/**
  :packer: :linux: AMD64 (base): any of: packer/linux/**
  :packer: :linux: ARM64 (base): any of: packer/linux/**

Fix spellcheck and shfmt
  packer/linux/base/scripts/install-docker.sh
  packer/linux/base/scripts/install-session-manager-plugin.sh
  packer/linux/base/scripts/install-utils.sh
  packer/linux/shared/scripts/versions.sh
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/linux/stack/scripts/install-buildkite-utils.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Fix whitespace
  packer/linux/shared/scripts/versions.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Fix SC
  packer/linux/base/scripts/install-docker.sh
  packer/linux/base/scripts/install-session-manager-plugin.sh
  packer/linux/base/scripts/install-utils.sh
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/linux/stack/scripts/install-buildkite-utils.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Update var calls
  packer/linux/base/scripts/install-utils.sh
  packer/linux/stack/scripts/install-buildkite-utils.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Fixing paths
  packer/linux/base/base.pkr.hcl
  packer/linux/base/scripts/install-docker.sh
  packer/linux/base/scripts/install-session-manager-plugin.sh
  packer/linux/base/scripts/install-utils.sh
  packer/linux/stack/buildkite-ami.pkr.hcl
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/linux/stack/scripts/install-buildkite-utils.sh
  packer/windows/base/base.pkr.hcl
  packer/windows/base/scripts/install-docker.ps1
  packer/windows/base/scripts/install-lifecycled.ps1
  packer/windows/base/scripts/install-session-manager-plugin.ps1
  packer/windows/base/scripts/install-utils.ps1
  packer/windows/stack/buildkite-ami.pkr.hcl
  packer/windows/stack/scripts/install-buildkite-agent.ps1
  packer/windows/stack/scripts/install-s3secrets-helper.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Removing export
  packer/linux/shared/scripts/versions.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Re-adding export
  packer/linux/shared/scripts/versions.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Updating Renovate
  renovate.json
Due: none

fix: remove trailing slashes from renovate fileMatch patterns
  renovate.json
Due: none

Align agent version
  packer/linux/shared/scripts/versions.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

clean-old-amis: Refactor checks
  .buildkite/steps/clean-old-amis
Due: none

Deregister old, private AMIs unless they're shared
  .buildkite/steps/clean-old-amis
Due: none

Add pipeline URL for context
  .buildkite/pipeline.cleanamis.yaml
Due: none

Improve summary
  .buildkite/pipeline.cleanamis.yaml
  .buildkite/steps/clean-old-amis
Due: none

Separate cleanup of CFn stacks & service roles
  .buildkite/steps/cleanup.sh
Due: none

Missed a usage when renaming 'deleted_counter'
  .buildkite/steps/clean-old-amis
Due: none

Find buildkite-agent
  .buildkite/steps/clean-old-amis
Due: none

Add support for arm64 buildkite-agent-scaler
  .buildkite/steps/launch.sh
  templates/aws-stack.yml
Due: none

Move `AGENT_VERSION` and update renovate config
  packer/linux/shared/scripts/versions.sh
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/shared/scripts/versions.ps1
  packer/windows/stack/scripts/install-buildkite-agent.ps1
  renovate.json
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Update Makefile
  Makefile
Due: none

Agent versions changed during my merge
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Move versions scripts to base dir
  packer/linux/base/base.pkr.hcl
  packer/linux/base/scripts/versions.sh
  packer/linux/stack/buildkite-ami.pkr.hcl
  packer/windows/base/base.pkr.hcl
  packer/windows/base/scripts/versions.ps1
  packer/windows/stack/buildkite-ami.pkr.hcl
  renovate.json
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Cleanup source in install script
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Downgrade Agent versions
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Whitespace push
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :packer: :windows: (base)

Update changelog for upcoming release v6.47.0
  CHANGELOG.md
Due: none

Fix test stack ASG deletion
  .buildkite/steps/delete.sh
Due: none

Don't rebuild Stack AMI when not needed
  .buildkite/pipeline.yaml
  .buildkite/steps/ensure_ami_metadata.py
Due: none

Skip spinning up stacks when templates or AMIs weren't changed
  .buildkite/pipeline.yaml
Due: none

More conditionals
  .buildkite/pipeline.yaml
Due: none

Anchors go brr
  .buildkite/pipeline.yaml
Due: none

Base AMIs should not be public
  .buildkite/pipeline.yaml
Due: none

Make base AMI private
  .buildkite/pipeline.yaml
Due: none

Actually make base images private
  Makefile
  packer/linux/base/base.pkr.hcl
  packer/windows/base/base.pkr.hcl
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Adding env hooks [skip ci]
  packer/linux/stack/conf/buildkite-agent/hooks/environment
  packer/windows/stack/conf/buildkite-agent/hooks/environment
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Adding pre-exit (post-job runs) [skip ci]
  packer/linux/stack/conf/buildkite-agent/hooks/pre-exit
  packer/windows/stack/conf/buildkite-agent/hooks/pre-exit
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Adding parameters, injecting into cloud-init templates
  templates/aws-stack.yml
Due: none

Respecting existing emergency script
  packer/linux/base/conf/docker/scripts/docker-low-disk-gc
  packer/linux/stack/conf/buildkite-agent/hooks/environment
  packer/linux/stack/conf/buildkite-agent/hooks/pre-exit
  packer/windows/stack/conf/buildkite-agent/hooks/environment
  packer/windows/stack/conf/buildkite-agent/hooks/pre-exit
  templates/aws-stack.yml
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Replicating Terraform Custom instance IAM role
  templates/aws-stack.yml
Due: none
