Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Path conditions:
  :packer: :windows: (base): any of: packer/windows/**
  :packer: :linux: AMD64 (base): any of: packer/linux/**
  :packer: :linux: ARM64 (base): any of: packer/linux/**

Trigger base AMI base AMI rebuild
  packer/linux/.trigger-base-build
  packer/windows/.trigger-base-build
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Remove if_changed conditional for base image
  .buildkite/pipeline.yaml
Due: none

Simplify base AMI build logic
  .buildkite/pipeline.yaml
  .buildkite/steps/packer.sh
Due: none

Trigger base AMI rebuild
  .buildkite/pipeline.yaml
  packer/linux/.trigger-base-build
  packer/windows/.trigger-base-build
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Fix: base AMI lookup
  .buildkite/steps/packer.sh
  packer/linux/.trigger-base-build
  packer/windows/.trigger-base-build
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Temporarily remove build conditional for base AMI
  .buildkite/pipeline.yaml
Due: none

Update changelog for v6.41.5 release
  CHANGELOG.md
Due: none

Adding example running Kaniko in Docker
  README.md
Due: none

Verifying signed kaniko images
  README.md
Due: none

adding how to debugg with debug image, etc
  README.md
Due: none

Fix SSH
  packer/linux/base/scripts/install-utils.sh
  packer/linux/stack/scripts/install-buildkite-utils.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Fix build
  packer/linux/stack/conf/aws/config
  packer/windows/stack/scripts/ec2-userdata.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Consolidate shared resources between base and stack AMIs
  packer/linux/base/base.pkr.hcl
  packer/linux/shared/conf/aws/config
  packer/linux/shared/scripts/cleanup.sh
  packer/linux/stack/buildkite-ami.pkr.hcl
  packer/linux/stack/conf/aws/config
  packer/linux/stack/scripts/cleanup.sh
  packer/windows/base/base.pkr.hcl
  packer/windows/shared/scripts/ec2-userdata.ps1
  packer/windows/stack/buildkite-ami.pkr.hcl
  packer/windows/stack/scripts/ec2-userdata.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Fix Windows base AMI build
  packer/windows/base/scripts/install-cloudwatch-agent.ps1
Due: :packer: :windows: (base)

Align CloudWatch agent config with Windows
  .gitignore
  packer/linux/stack/conf/cloudwatch-agent/amazon-cloudwatch-agent.json
  packer/linux/stack/scripts/configure-cloudwatch-agent.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Allow ECR Credential Helper to be disabled
  packer/linux/conf/buildkite-agent/hooks/environment
  packer/windows/conf/buildkite-agent/hooks/environment
  templates/aws-stack.yml
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Allow pipeline overrides, set default env var
  packer/linux/conf/buildkite-agent/hooks/environment
  packer/windows/conf/buildkite-agent/hooks/environment
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Update changelog for v6.41.6 release
  CHANGELOG.md
Due: none

Fix missing refresh_authorized_keys.timer
  packer/linux/base/base.pkr.hcl
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Merge conf dir
  packer/linux/base/base.pkr.hcl
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Support cross-account SSM parameter store paths
  templates/aws-stack.yml
Due: none

fixlint
  README.md
Due: none

fix the lint
  README.md
Due: none

Support arm64 arch for Lambda functions
  templates/aws-stack.yml
Due: none

Cleaned up failure behavior params, config values
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  templates/aws-stack.yml
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Allow configurable Docker default bridge networks
  packer/linux/stack/conf/bin/bk-configure-docker.sh
  templates/aws-stack.yml
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Update description
  templates/aws-stack.yml
Due: none

Consolidate fixed-cidr configuration for both IPv4/IPv6
  packer/linux/stack/conf/bin/bk-configure-docker.sh
Due: :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Add IP CIDR regex validation to Docker networking params
  templates/aws-stack.yml
Due: none

Update param descriptions
  templates/aws-stack.yml
Due: none

Update bk-fetch scripts for clarity, parity
  packer/linux/stack/conf/bin/bk-fetch.sh
  packer/windows/stack/conf/bin/bk-fetch.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Fix value escaping in Windows script
  packer/windows/stack/conf/bin/bk-fetch.ps1
Due: :packer: :windows: (base)

Update changelog for v6.42.0 release
  CHANGELOG.md
Due: none

chore: bump agent to v3.108.0
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Ensure EnableECRCredentialHelper is added to cfn-env
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Disable ECR Credential Helper, by default
  packer/linux/stack/conf/buildkite-agent/hooks/environment
  packer/windows/stack/conf/buildkite-agent/hooks/environment
  templates/aws-stack.yml
Due: :packer: :windows: (base), :packer: :linux: AMD64 (base), :packer: :linux: ARM64 (base)

Update changelog for v6.43.0 release
  CHANGELOG.md
Due: none

Fix typo'd claim
  .buildkite/pipeline.cleanamis.yaml
Due: none
