Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

:aws-iam: :cloudformation::
  id: deploy-service-role-stack
  name: ':aws-iam: :cloudformation:'
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  command: .buildkite/steps/deploy-service-role-stack.sh
  if: build.source != "schedule"
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  - aws-assume-role-with-web-identity#v1.4.0:
  ...

:packer: :windows: (base):
  id: packer-base-windows-amd64
  name: ':packer: :windows: (base)'
  command: .buildkite/steps/packer.sh windows amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: false
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :windows::
  id: packer-windows-amd64
  name: ':packer: :windows:'
  command: .buildkite/steps/packer.sh windows
  timeout_in_minutes: 60
  env:
    AMI_PUBLIC: true
  retry:
    automatic:
      limit: 3
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - packer-base-windows-amd64
  ...

:cloudformation: :windows: AMD64 Launch:
  id: launch-windows-amd64
  name: ':cloudformation: :windows: AMD64 Launch'
  command:
  - .buildkite/steps/ensure_ami_metadata.py windows amd64
  - .buildkite/steps/launch.sh windows amd64
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  artifact_paths: build/aws-stack.yml
  if: build.source != "schedule"
  ...

:cloudformation: :windows: AMD64 Test:
  id: test-windows-amd64
  name: ':cloudformation: :windows: AMD64 Test'
  command:
  - aws --version
  - jq --version
  - git --version
  - docker info
  - docker run --rm mcr.microsoft.com/windows/nanoserver:ltsc2022 cmd.exe /c echo hello
  timeout_in_minutes: 5
  agents:
  ...

:cloudformation: :windows: AMD64 Delete:
  id: delete-windows-amd64
  name: ':cloudformation: :windows: AMD64 Delete'
  command: .buildkite/steps/delete.sh windows amd64
  allow_dependency_failure: true
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - test-windows-amd64
  plugins:
  ...

:packer: :linux: AMD64 (base):
  id: packer-base-linux-amd64
  name: ':packer: :linux: AMD64 (base)'
  command: .buildkite/steps/packer.sh linux amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: false
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :linux: AMD64:
  id: packer-linux-amd64
  name: ':packer: :linux: AMD64'
  command: .buildkite/steps/packer.sh linux
  timeout_in_minutes: 60
  env:
    AMI_PUBLIC: true
  retry:
    automatic:
      limit: 3
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - packer-base-linux-amd64
  ...

Changelog for 6.60.0
  CHANGELOG.md
Due: none

Update v6.60.0 changelog with new agent
  CHANGELOG.md
Due: none

Set agent-edge as default agent endpoint
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog entry for v6.61.0
  CHANGELOG.md
Due: none

Add a caching bucket to the template
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

add caching configs to packer templates
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

flip some default values and enhance scaling performance
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

set ecr default policy and promote experimental config
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

remove lifecycle policy from bucket
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

remove policy from bucket
  packer/linux/base/scripts/install-docker.sh
  packer/linux/base/scripts/versions.sh
  packer/windows/base/scripts/versions.ps1
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

fix dnf call for Docker
  packer/linux/base/scripts/install-docker.sh
  packer/linux/base/scripts/versions.sh
  packer/windows/base/scripts/install-docker.ps1
  packer/windows/base/scripts/versions.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

fix linting with unused name
  packer/linux/base/scripts/install-docker.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Increases the default IOPS for gp3 volume
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Increases the default IOPS for gp3 volume (#1763)
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add S3-backed git mirror bundle seeding for Linux agents
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Store git bundle in BUILDKITE_AGENT_GIT_MIRRORS_PATH
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add s3:PutObject permission when git mirror bundle is enabled
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add multipart permissions for big files
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Set mirror origin URL from sidecar file to avoid fsck on bundle-seeded mirrors
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add s3 to aws cli config
  packer/linux/shared/conf/aws/config
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Optimize git clone for faster mirror seeding
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Fix GIT_CONFIG_PARAMETERS
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Seed git mirror bundles in background
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Seed bundle in foreground again
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

git clone --bare instead of --mirror
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add release notes for v6.62.0
  CHANGELOG.md
Due: none

experiment with git mirror tar bundle
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Drop support for bundle completely
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog for v6.62.1
  CHANGELOG.md
Due: none

Add NestedVirtualizationEnabled launch-template parameter
  CHANGELOG.md
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog for v6.63.0
  CHANGELOG.md
Due: none

Add release notes for v6.64.0
  CHANGELOG.md
Due: none

Add changelog for v6.65.0
  CHANGELOG.md
Due: none

bump buildkite cloudwatch group retention days
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Fix typo
  internal/fixperms/fixer/fixer.go
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update CHANGELOG for version v6.66.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Fix changelog formatting
  CHANGELOG.md
Due: none

Add changelog for upcoming v6.66.1 release
  CHANGELOG.md
Due: none

Path conditions:
  :aws-iam: :cloudformation:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :windows: (base): any of: packer/windows/base/**, packer/windows/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :windows:: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Launch: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Test: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Delete: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :packer: :linux: AMD64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: AMD64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :linux: ARM64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: ARM64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :aws-iam: :cloudformation: Delete: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: ðŸšš ðŸŒŽ: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :rocket:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :broom: Cleanup: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
