Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

:aws-iam: :cloudformation::
  id: deploy-service-role-stack
  name: ':aws-iam: :cloudformation:'
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  command: .buildkite/steps/deploy-service-role-stack.sh
  if: build.source != "schedule"
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  - aws-assume-role-with-web-identity#v1.4.0:
  ...

:packer: :windows: (base):
  id: packer-base-windows-amd64
  name: ':packer: :windows: (base)'
  command: .buildkite/steps/packer.sh windows amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: false
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :windows::
  id: packer-windows-amd64
  name: ':packer: :windows:'
  command: .buildkite/steps/packer.sh windows
  timeout_in_minutes: 60
  env:
    AMI_PUBLIC: true
  retry:
    automatic:
      limit: 3
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - packer-base-windows-amd64
  ...

:cloudformation: :windows: AMD64 Launch:
  id: launch-windows-amd64
  name: ':cloudformation: :windows: AMD64 Launch'
  command:
  - .buildkite/steps/ensure_ami_metadata.py windows amd64
  - .buildkite/steps/launch.sh windows amd64
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  artifact_paths: build/aws-stack.yml
  if: build.source != "schedule"
  ...

:cloudformation: :windows: AMD64 Test:
  id: test-windows-amd64
  name: ':cloudformation: :windows: AMD64 Test'
  command:
  - aws --version
  - jq --version
  - git --version
  - docker info
  - docker run --rm mcr.microsoft.com/windows/nanoserver:ltsc2022 cmd.exe /c echo hello
  timeout_in_minutes: 5
  agents:
  ...

:cloudformation: :windows: AMD64 Delete:
  id: delete-windows-amd64
  name: ':cloudformation: :windows: AMD64 Delete'
  command: .buildkite/steps/delete.sh windows amd64
  allow_dependency_failure: true
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - test-windows-amd64
  plugins:
  ...

:packer: :linux: AMD64 (base):
  id: packer-base-linux-amd64
  name: ':packer: :linux: AMD64 (base)'
  command: .buildkite/steps/packer.sh linux amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: false
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :linux: AMD64:
  id: packer-linux-amd64
  name: ':packer: :linux: AMD64'
  command: .buildkite/steps/packer.sh linux
  timeout_in_minutes: 60
  env:
    AMI_PUBLIC: true
  retry:
    automatic:
      limit: 3
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - packer-base-linux-amd64
  ...

Add changelog entry
  CHANGELOG.md
Due: none

Add r9g(d) instance family
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Clarify v7 stack parameter migration
  docs/upgrading-to-v7.md
Due: none

Address Agent v4 migration review feedback
  .buildkite/pipeline.yaml
  docs/upgrading-to-v7.md
  goss.ubuntu2404.yaml
  goss.yaml
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Bump agent to 4.0.2
  CHANGELOG.md
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Drop agent version check from goss
  goss.ubuntu2404.yaml
  goss.yaml
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add r9g(d) instance family (#1880)
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update changelog with v6.71.4
  CHANGELOG.md
Due: none

Bump agent to 4.0.3
  CHANGELOG.md
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Document Datadog tracing migration for stack v7
  docs/upgrading-to-v7.md
Due: none

Clarify platform-specific v6 cancellation defaults
  CHANGELOG.md
  docs/upgrading-to-v7.md
Due: none

Pin ShellCheck image and track updates with Renovate
  .buildkite/steps/lint.sh
  renovate.json
Due: none

Fix release steps being skipped by change filtering
  .buildkite/pipeline.stack.yaml
  .buildkite/pipeline.yaml
  README.md
Due: none

Use latest stable release for fallback AMIs
  .buildkite/steps/ensure_ami_metadata.py
Due: none

Fix metadata fetch retry loop short-circuited by ERR trap
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

add nix installation
  packer/linux/buildkite-ami.pkr.hcl
  packer/linux/conf/buildkite-agent/hooks/environment
  packer/linux/scripts/install-nix.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Backport scaler v1.14.0 for stack v6.71.5
  .buildkite/pipeline.yaml
  CHANGELOG.md
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update v6 default agent to v3.138.0
  CHANGELOG.md
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Skip CI cleanup when the test stack was never created
  .buildkite/steps/delete.sh
  CHANGELOG.md
Due: :aws-iam: :cloudformation:, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Fix v6 release CI lint and service-role cleanup failures
  .buildkite/steps/delete-service-role-stack.sh
  .buildkite/steps/publish.sh
  CHANGELOG.md
  packer/linux/base/scripts/install-cloudwatch-agent.sh
  packer/linux/stack/conf/bin/bk-mount-instance-storage.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Restore existing pipeline filters for v6.71.5
  .buildkite/pipeline.yaml
  CHANGELOG.md
Due: none

Prepare stack v7.0.1 with scaler v1.14.0
  CHANGELOG.md
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Don't restart the agent on terminate-after-job instances
  goss.ubuntu2404.yaml
  goss.yaml
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Restore main AMI fallback for filtered builds
  .buildkite/steps/ensure_ami_metadata.py
Due: none

Enable systemd watchdog recovery
  packer/linux/stack/conf/buildkite-agent/scripts/terminate-instance
  packer/linux/stack/conf/buildkite-agent/systemd/buildkite-agent.service
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Document agent watchdog behavior
  README.md
Due: none

Prepare stack v7.0.1 with scaler v1.15.0
  CHANGELOG.md
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add v7.1.0 changelog
  CHANGELOG.md
Due: none

Fix termination without capacity decrement
  packer/linux/stack/conf/buildkite-agent/scripts/terminate-instance
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add v7.2.0 changelog
  CHANGELOG.md
Due: none

Combine Agent release notes into one changelog section
  .buildkite/scripts/generate-changelog.sh
Due: none

Add warm pool support for ASG instances
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/conf/buildkite-agent/scripts/stop-agent-gracefully
  packer/linux/stack/conf/buildkite-agent/scripts/terminate-instance
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/stop-agent-gracefully.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/terminate-instance.ps1
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog for v7.3.0
  CHANGELOG.md
Due: none

Gate warm pool agent start on IMDS target lifecycle state
  goss.ubuntu2404.yaml
  goss.yaml
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/conf/buildkite-agent/scripts/complete-warm-pool-lifecycle-action
  packer/linux/stack/conf/buildkite-agent/scripts/stop-agent-gracefully
  packer/linux/stack/conf/buildkite-agent/scripts/terminate-instance
  packer/linux/stack/conf/buildkite-agent/scripts/warm-pool-watcher
  packer/linux/stack/conf/buildkite-agent/systemd/warm-pool-watcher.service
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/complete-warm-pool-lifecycle-action.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/stop-agent-gracefully.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/terminate-instance.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/warm-pool-watcher.ps1
  packer/windows/stack/scripts/install-buildkite-agent.ps1
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Complete warm pool lifecycle hook on every launch path
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/conf/buildkite-agent/scripts/complete-warm-pool-lifecycle-action
  packer/linux/stack/conf/buildkite-agent/scripts/warm-pool-watcher
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/complete-warm-pool-lifecycle-action.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/warm-pool-watcher.ps1
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog entry for v7.4.0
  CHANGELOG.md
Due: none

Gate warm pool lifecycle calls and fix completion ordering
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  packer/windows/stack/conf/buildkite-agent/scripts/complete-warm-pool-lifecycle-action.ps1
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add v7 support policy banner to README
  README.md
Due: none

Tag Packer builders for cleanup
  packer/linux/base/base.pkr.hcl
  packer/linux/stack/buildkite-ami.pkr.hcl
  packer/windows/base/base.pkr.hcl
  packer/windows/stack/buildkite-ami.pkr.hcl
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Path conditions:
  :aws-iam: :cloudformation:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :windows: (base): any of: packer/windows/base/**, packer/windows/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :windows:: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Launch: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Test: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Delete: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :packer: :linux: AMD64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: AMD64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :linux: ARM64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: ARM64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :aws-iam: :cloudformation: Delete: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: ðŸšš ðŸŒŽ: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :rocket:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :broom: Cleanup: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
