Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Path conditions:
  :aws-iam: :cloudformation:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :windows: (base): any of: packer/windows/base/**, packer/windows/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :windows:: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Launch: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Test: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Delete: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :packer: :linux: AMD64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: AMD64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :linux: ARM64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: ARM64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :aws-iam: :cloudformation: Delete: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: ðŸšš ðŸŒŽ: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :rocket:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :broom: Cleanup: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*

Write Docker user namespace mappings atomically
  packer/linux/stack/conf/bin/bk-configure-docker.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Retry docker-binfmt after Docker setup
  goss.ubuntu2404.yaml
  goss.yaml
  packer/linux/base/conf/docker/systemd/docker-binfmt.service
  packer/linux/stack/conf/bin/bk-configure-docker.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Centralize the docker-binfmt image reference
  packer/linux/base/conf/docker/systemd/docker-binfmt.service
  packer/linux/base/scripts/install-docker.sh
  packer/linux/base/scripts/versions.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Track tonistiigi/binfmt with Renovate
  renovate.json
Due: none

Separate Packer targets by platform
  Makefile
  make/packer-common.mk
  make/packer-linux.mk
  make/packer-windows.mk
  make/stack.mk
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Scope Windows lifecycle builds to relevant changes
  .buildkite/pipeline.yaml
Due: none

Flatten Windows pipeline steps
  .buildkite/pipeline.yaml
Due: none

Support multiple tars in s3 bucket
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Bake watchdog-enabled agent into test AMIs
  .buildkite/agent-systemd-watchdog.patch
  .buildkite/pipeline.yaml
  .buildkite/steps/build-custom-agent.sh
  .gitattributes
  packer/linux/stack/conf/buildkite-agent/systemd/20-systemd-watchdog.conf
  packer/linux/stack/scripts/install-buildkite-agent.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Copy custom agent source before building
  .buildkite/steps/build-custom-agent.sh
Due: none

Extract custom agent from build container
  .buildkite/steps/build-custom-agent.sh
Due: none

Harden watchdog failure handling
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/conf/buildkite-agent/systemd/20-systemd-watchdog.conf
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Keep watchdog service in simple mode
  packer/linux/stack/conf/buildkite-agent/systemd/20-systemd-watchdog.conf
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Refresh watchdog-enabled agent patch
  .buildkite/agent-systemd-watchdog.patch
  .buildkite/steps/build-custom-agent.sh
Due: none

Return to released goss binary
  Makefile
  packer/linux/base/scripts/install-utils.sh
  packer/linux/base/scripts/versions.sh
  packer/linux/stack/scripts/install-buildkite-utils.sh
  renovate.json
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update changelog with v6.71.0
  CHANGELOG.md
Due: none

Stage zip files into the git mirror directory instead of tmp
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog for v6.71.1
  CHANGELOG.md
Due: none

Add seed mirror staging path and increase timeouts and guardrails
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Enable GitMirrorSeedBucket for Linux only
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Fix shfmt failure
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog entry for v6.71.2
  CHANGELOG.md
Due: none

Expose Elastic CI dangling instance settings
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update buildkite-agent to v3.137.2
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update changelog with v6.71.3
  CHANGELOG.md
Due: none

Use canonical Ubuntu ports mirror for AMI builds
  packer/linux/shared/scripts/distro.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add fallback for Ubuntu ports mirror outages
  packer/linux/shared/scripts/distro.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Format Ubuntu mirror pipeline
  packer/linux/shared/scripts/distro.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Bound Ubuntu mirror failover time
  packer/linux/shared/scripts/distro.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Prefer canonical Ubuntu ports mirror
  packer/linux/shared/scripts/distro.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Bump agent to v3.138.0
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Fix agent binary path for download before migrating over to v4
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Revert "Bump agent to v3.138.0"
  packer/linux/stack/scripts/install-buildkite-agent.sh
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Upgrade Linux Buildkite Agent to v4.0.1
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/scripts/install-buildkite-agent.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Upgrade Windows Buildkite Agent to v4.0.1
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  packer/windows/stack/scripts/install-buildkite-agent.ps1
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Validate agent tracing backend by release
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Clarify timestamp behavior by release
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Clarify Linux cancellation timeout behavior
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Route cancellation validation through error handler
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Remove Agent v3 compatibility for stack v7
  .buildkite/pipeline.yaml
  README.md
  docs/upgrading-to-v7.md
  goss.ubuntu2404.yaml
  goss.yaml
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup
