Repository buildkite/elastic-ci-stack-for-aws: changes, and which Buildkite steps are due for each by the changed paths.
All: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

:aws-iam: :cloudformation::
  id: deploy-service-role-stack
  name: ':aws-iam: :cloudformation:'
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  command: .buildkite/steps/deploy-service-role-stack.sh
  if: build.source != "schedule"
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  - aws-assume-role-with-web-identity#v1.4.0:
  ...

:packer: :windows: (base):
  id: packer-base-windows-amd64
  name: ':packer: :windows: (base)'
  command: .buildkite/steps/packer.sh windows amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: false
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :windows::
  id: packer-windows-amd64
  name: ':packer: :windows:'
  command: .buildkite/steps/packer.sh windows
  timeout_in_minutes: 60
  env:
    AMI_PUBLIC: true
  retry:
    automatic:
      limit: 3
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - packer-base-windows-amd64
  ...

:cloudformation: :windows: AMD64 Launch:
  id: launch-windows-amd64
  name: ':cloudformation: :windows: AMD64 Launch'
  command:
  - .buildkite/steps/ensure_ami_metadata.py windows amd64
  - .buildkite/steps/launch.sh windows amd64
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  artifact_paths: build/aws-stack.yml
  if: build.source != "schedule"
  ...

:cloudformation: :windows: AMD64 Test:
  id: test-windows-amd64
  name: ':cloudformation: :windows: AMD64 Test'
  command:
  - aws --version
  - jq --version
  - git --version
  - docker info
  - docker run --rm mcr.microsoft.com/windows/nanoserver:ltsc2022 cmd.exe /c echo hello
  timeout_in_minutes: 5
  agents:
  ...

:cloudformation: :windows: AMD64 Delete:
  id: delete-windows-amd64
  name: ':cloudformation: :windows: AMD64 Delete'
  command: .buildkite/steps/delete.sh windows amd64
  allow_dependency_failure: true
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - test-windows-amd64
  plugins:
  ...

:packer: :linux: AMD64 (base):
  id: packer-base-linux-amd64
  name: ':packer: :linux: AMD64 (base)'
  command: .buildkite/steps/packer.sh linux amd64 base
  timeout_in_minutes: 40
  env:
    AMI_PUBLIC: false
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  depends_on:
  - linting
  - fixperms-tests
  plugins:
  ...

:packer: :linux: AMD64:
  id: packer-linux-amd64
  name: ':packer: :linux: AMD64'
  command: .buildkite/steps/packer.sh linux
  timeout_in_minutes: 60
  env:
    AMI_PUBLIC: true
  retry:
    automatic:
      limit: 3
  agents:
    queue: ${BUILDKITE_AGENT_META_DATA_QUEUE}
  if: build.source != "schedule"
  depends_on:
  - packer-base-linux-amd64
  ...

Make TestTOCTOUShenanigans idempotent across go test --count
  internal/fixperms/fdfs/fdfs_test.go
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Parallelize fix perms walk and add EBS bound heartbeat diagnostic
  go.mod
  go.sum
  internal/fixperms/fdfs/fdfs.go
  internal/fixperms/fixperms.go
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Patch kernel6.12 in base AMI for local privesc CVEs
  packer/linux/buildkite-ami.pkr.hcl
  packer/linux/scripts/install-kernel.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Stay on AL2023 kernel-6.12 line for the CVE patch
  packer/linux/buildkite-ami.pkr.hcl
  packer/linux/scripts/install-kernel.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add release notes for v6.66.2
  CHANGELOG.md
Due: none

Fix git-lfs update with Renovate
  renovate.json
Due: none

Track Git for Windows version with Renovate
  renovate.json
Due: none

Add m9g(d) instance family
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add NestedVirtualizationEnabled launch-template parameter
  .buildkite/steps/cfn-lint.sh
  CHANGELOG.md
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Use latest Python
  .buildkite/steps/cfn-lint.sh
Due: none

Update Buildkite Agent AMI kernel to 6.18 on Amazon Linux 2023
  packer/linux/buildkite-ami.pkr.hcl
  packer/linux/scripts/install-kernel.sh
  packer/linux/scripts/install-socketcan.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Rework log collector to use AWS directly
  utils/log-collector
Due: none

Update README
  README.md
Due: none

Summarise when log collection fails
  utils/log-collector
Due: none

Guard against pipefail...
  utils/log-collector
Due: none

Tighten instance check
  utils/log-collector
Due: none

Recurse into nested stacks when discovering Lambdas
  utils/log-collector
Due: none

Collect Windows instance log group
  utils/log-collector
Due: none

Update README.md
  README.md
Due: none

Add scaler event schedule jitter parameter
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Update changelogs for upcoming v6.67.0
  CHANGELOG.md
Due: none

Add change log for release v6.66.3
  CHANGELOG.md
Due: none

Enhance termination script with improved metadata fetching
  packer/linux/stack/conf/buildkite-agent/scripts/terminate-instance
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Increase EC2 metadata token TTL and refactor termination logic
  packer/linux/stack/conf/buildkite-agent/scripts/terminate-instance
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add parameter validation for token and metadata fetching
  packer/linux/stack/conf/buildkite-agent/scripts/terminate-instance
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Build goss from source
  Makefile
  packer/linux/base/scripts/install-utils.sh
  packer/linux/base/scripts/versions.sh
  packer/linux/stack/scripts/install-buildkite-utils.sh
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

renovate: point goss to a commit hash, rather than version tag
  renovate.json
Due: none

Derive GOSS_VERSION from GOSS_COMMIT so Renovate digest bumps stay in sync
  packer/linux/base/scripts/versions.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Separate export from GOSS_VERSION declaration
  packer/linux/base/scripts/versions.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add release notes for upcoming v6.68.0
  CHANGELOG.md
Due: none

Add changelog entry for agent 3.128.0 -> 3.129.0
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

generate-changelog: fix changelog for multi version bump
  .buildkite/scripts/generate-changelog.sh
Due: none

Add changelog entry for v6.68.1
  CHANGELOG.md
Due: none

Fix CIS umask compatibility: chown cfn-env and env files
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Fix cfn-env ownership: keep root owner, grant agent read-only access
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Harden env file permissions: add chmod 0640 for defense-in-depth
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
Due: :aws-iam: :cloudformation:, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add changelog for 6.68.2
  CHANGELOG.md
Due: none

Add oldstable as a BuildkiteAgentRelease option
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/windows/stack/conf/bin/bk-install-elastic-stack.ps1
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Add Ubuntu 24.04 as a selectable Linux base OS
  .buildkite/pipeline.yaml
  .buildkite/steps/copy.sh
  .buildkite/steps/ensure_ami_metadata.py
  .buildkite/steps/launch.sh
  Makefile
  goss.ubuntu2404.yaml
  packer/linux/base/base.pkr.hcl
  packer/linux/base/scripts/install-cloudwatch-agent.sh
  packer/linux/base/scripts/install-docker.sh
  packer/linux/base/scripts/install-session-manager-plugin.sh
  packer/linux/base/scripts/install-utils.sh
  packer/linux/shared/scripts/cleanup.sh
  packer/linux/shared/scripts/distro.sh
  packer/linux/stack/buildkite-ami.pkr.hcl
  packer/linux/stack/conf/bin/bk-install-elastic-stack.sh
  packer/linux/stack/scripts/configure-cloudwatch-agent.sh
  packer/linux/stack/scripts/install-buildkite-agent.sh
  templates/aws-stack.yml
Due: :aws-iam: :cloudformation:, :packer: :windows: (base), :packer: :windows:, :cloudformation: :windows: AMD64 Launch, :cloudformation: :windows: AMD64 Test, :cloudformation: :windows: AMD64 Delete, :packer: :linux: AMD64 (base), :packer: :linux: AMD64, :cloudformation: :linux: AMD64 Launch, :cloudformation: :linux: AMD64 Test, :cloudformation: :linux: AMD64 Delete, :packer: :linux: ARM64 (base), :packer: :linux: ARM64, :cloudformation: :linux: ARM64 Launch, :cloudformation: :linux: ARM64 Test, :cloudformation: :linux: ARM64 Delete, :aws-iam: :cloudformation: Delete, :cloudformation: ðŸšš ðŸŒŽ, :cloudformation: :rocket:, :broom: Cleanup

Path conditions:
  :aws-iam: :cloudformation:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :windows: (base): any of: packer/windows/base/**, packer/windows/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :windows:: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Launch: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Test: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :cloudformation: :windows: AMD64 Delete: any of: packer/windows/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, but not: **/*.md, **/README*
  :packer: :linux: AMD64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: AMD64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: AMD64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :packer: :linux: ARM64 (base): any of: packer/linux/base/**, packer/linux/shared/**, .buildkite/steps/packer.sh, Makefile
  :packer: :linux: ARM64: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Launch: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Test: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :linux: ARM64 Delete: any of: packer/linux/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :aws-iam: :cloudformation: Delete: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: ðŸšš ðŸŒŽ: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :cloudformation: :rocket:: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
  :broom: Cleanup: any of: packer/**, plugins/**, .buildkite/steps/packer.sh, .buildkite/steps/launch.sh, .buildkite/steps/delete.sh, .buildkite/steps/deploy-service-role-stack.sh, templates/**, Makefile, internal/**, goss.yaml, but not: **/*.md, **/README*
